<div class="row">
  <div class="col-md-12 text-md-right">
    <br>
    <button class="btn btn-primary" routerLink="signIn">Sign In or Register</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <h1>Heartland</h1>
    <p>ECSI</p>
  </div>
  <div class="col-sm-9">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let navItem of ['Home','Schools','Documents']">
            <a class="nav-link" href="#">{{navItem}} <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <img src="../assets/images/homebanner.png" class="img-fluid" alt="Responsive image">
  </div>
</div>

