<div class="row">
  <div class="col-lg-6 text-center">
    <div class="form-group">
      <label for="email">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Username" #userName>
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control" id="pwd" placeholder="Password" #password>
    </div>
    <div class="err-div text-center" *ngIf="err">
      <label>Invalid username/password</label>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-default" style="margin-right: 10px">Cancel</button>
      <button type="submit" class="btn btn-primary" (click)="signIn(userName,password)">Continue</button>
    </div>
  </div>
  <div class="col-lg-6 text-center">
    <form>
      <div class="form-group">
        <label for="registerUserName">Username</label>
        <input type="email" class="form-control" id="registerUserName" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="registerPwd" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="pwd">Confirm Password</label>
        <input type="password" class="form-control" id="registerConfirmPwd" placeholder="Confirm Password">
      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-default" style="margin-right: 10px">Cancel</button>
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </form>
  </div>
</div>

