<div class="row" [ngStyle]="{'padding-left': '200px', 'padding-right': '200px'}">
  <div class="col-sm-12">
    <label>Our records show that you have a balance due in the amount of $3,209.30</label>
    <hr>
    <label>PAYMENT INFORMATION</label>
    <select class="form-control">
      <option>Payment Method</option>
    </select>
    <br>
    <input type="text" class="form-control" id="registerUserName" placeholder="Name on Card/Bank Account">
    <hr>
    <label>PAYER'S INFORMATION</label><br>
    <label>Do you have your Heartland Key?</label>
    <label class="float-sm-right switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-default" style="margin-right: 10px">Cancel</button>
      <button type="submit" class="btn btn-primary">Continue</button>
    </div>
  </div>
</div>
