/* You can add global styles to this file, and also import other style files */
body {
  font-family: Consolas;
  background: url("assets/images/bg-pattern.png");
  background-repeat: repeat ;
}

#body {
  font-family: Consolas;
  background-color: white;
}
