<div class="row">
  <div class="col-md-12 text-md-center">
    <button class="btn btn-primary">Make a Guest Payment</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-3">
    New to heartland ECSI?
  </div>
  <div class="col-3">
    Student Loan Accounts
  </div>
  <div class="col-3">
    Past Due Tution & Fees
  </div>
</div>
<br>
<div class="row">
  <div class="col-3">
    Refunds
  </div>
  <div class="col-3">
    Tax Documents
  </div>
  <div class="col-3">
    Tution Payment Plans
  </div>
</div>
